/* here is the css for my form and my results page
    the first page is my form css, after that is my results page css */

/* i created an id for each body to not mix things up */
#form-body { 
    background-color: rgb(174, 242, 178);
    font-family: Roboto, sans-serif;
    text-align: center;
}

/* this is the css for all the questions that i ask*/
.question {
    font-weight: bold;
}

/* css for h1 */
h1{
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 0px;
}

/* css for my introductory page */
#intro{
    font-size: 20px;
    margin-top: 30px;
}

/* this is the css for how the visible things on my page should look */
.see {
    background-color: rgba(215, 243, 215, 0.9);
    position: fixed;
    text-align: center;
    padding: 170px;
    padding-bottom: 300px;
    width: 50%;
    height: 15%;
    z-index: 2;
    margin-top: -25px;
    margin-left: 190px;
    font-size: 40px;
    color: rgb(97, 84, 84);
}
/* here is the css to hide the pages i don't want to show */
.hide {
    display: none;
}

/* css for ideal climate question */
#climate {
    width: 50%;
    text-align: center;
    font-size: 20px;
}

/* css for the back and next buttons */
.button {
    width: 20%;
    padding: 10px;
    margin-top: 50px;
    background-color: rgb(111, 203, 166);
    margin-top: 100px;
}
/* css for the button to take the quiz */
#take {
    margin-top: 0px;
}
/* css for the description in my introductory page */
#description {
    font-size: 30px;
}
/* css for when an input is invalid */
input:invalid {
    background-color: rgb(205, 141, 141);
}
/* specific css adjustments for the button for question 2 */
.button2 {
    width: 20%;
    padding: 10px;
    margin-top: 50px;
    background-color: rgb(111, 203, 166);
    margin-top: 97px;
}
/* specific css adjustments for the button for question 3 */
.button3 {
    width: 20%;
    padding: 10px;
    margin-top: 50px;
    background-color: rgb(111, 203, 166);
    margin-top: 74px;
}
/* specific css adjustments for the button for question 10 */
.button10 {
    width: 20%;
    padding: 10px;
    margin-top: 50px;
    background-color: rgb(111, 203, 166);
    margin-top: 74px;
}
/* specific css adjustments for the button for question 11 */
.button11 {
    width: 20%;
    padding: 10px;
    margin-top: 50px;
    background-color: rgb(111, 203, 166);
    margin-top: 57px;
}
/* specific css adjustments for the next button for question 3 */
#next3 {
    width: 20%;
    padding: 10px;
    margin-top: 50px;
    background-color: rgb(111, 203, 166);
    margin-top: -100px;
}
/* css for the header*/
#header {
    font-size: 50px;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 0px;
    color: white;
    border-style: solid;
    border-color: rgb(73, 145, 110);
    border-width: 10px;
}
/*css for the title*/
#title {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 30px;
    margin-left: 600px;
    margin-right: 600px;
    padding: 0px;
    color: white;
    background-color: rgb(70, 174, 129, 1);;
}
/* css for the question blocks*/
#block {
    background-color: rgb(70, 174, 129);
    margin-top: 0px;
    padding: 10px;
}
/* specific css adjustments for the button for the text for question 2 */
#q2text {
    margin-top: -7px;
}
/* css for the progress bar */
#progressbar {
    font-size: 25px;
    padding: 0px;
    text-align: left;
    margin-top: -25px;
    margin-left: 190px;
    color: rgb(77, 76, 76);
}
/* here is the css for the different stages of the progress bar*/
.progress1 {
    background-color: rgb(58, 205, 58);
    margin-right: 1148px;
}
.progress2 {
    background-color: rgb(58, 205, 58);
    margin-right: 1041px;
}
.progress3 {
    background-color: rgb(58, 205, 58);
    margin-right: 934px;
}
.progress4 {
    background-color: rgb(58, 205, 58);
    margin-right: 827px;
}
.progress5 {
    background-color: rgb(58, 205, 58);
    margin-right: 720px;
}
.progress6 {
    background-color: rgb(58, 205, 58);
    margin-right: 613px;
}
.progress7 {
    background-color: rgb(58, 205, 58);
    margin-right: 506px;
}
.progress8 {
    background-color: rgb(58, 205, 58);
    margin-right: 399px;
}
.progress9 {
    background-color: rgb(58, 205, 58);
    margin-right: 292px;
}
.progress10 {
    background-color: rgb(58, 205, 58);
    margin-right: 185px;
}
/* css for "enter your info" on the submit page */
#submithead {
    font-size: 30px;
}
/* css for the submit apge */
.submitinfo {
    width: 20%;
    background-color: rgb(232, 231, 231);
}
/* css for the tables (each answer is in tables) */
.table {
    text-align: left;
    margin-left: 150px;
    font-size: 30px;
}
/* css for each table cell */
td {
    padding: 10px;
}
/* specific css adjustments for the text for question 3 */
#q3text {
    margin-top: -30px;
    font-size: 40px;
}
/* specific css adjustments for the table for question 4 */
#q4table {
    margin-left: 100px;
}
/* specific css adjustments for the table for question 5 */
#q5table {
    margin-left: 190px;
}
/* specific css adjustments for the table for question 7 */
#q7table {
    width: 100%;
    margin-left: 50px;
}
/* specific css adjustments for the table for question 8 */
#q8table {
    margin-left: 210px;
}
/* specific css adjustments for the table for question 9 */
#q9table {
    width: 100%;
    margin-left: 50px;
}
/* specific css adjustments for the table for question 10 */
#q10table {
    width: 120%;
    margin-left: -20px;
}
/* overall css for each question */
.question {
    margin-top: -10px;
}
/* specific css adjustments for the text for question 10 */
#q10text {
    margin-top: -30px;
}
/* css for the images on question 11 */
#cleanimg {
    width: 100px;
    height: 100px;
    margin-top: -200px;
}
#cyberimg {
    width: 100px;
    height: 100px;
    margin-top: -200px;
}
#europeimg {
    width: 100px;
    height: 100px;
    margin-top: 0px;
}
#seasideimg {
    width: 100px;
    height: 100px;
    margin-top: 0px;
}
#q11table {
    margin-left: 200px;
    margin-top: 100px;
}
#q11text {
    margin-top: -100px;
}

/* !!! this is now css for the results page !!! */

/* results page body css */
#resultbody {
    text-align: center;
    font-size: 20px;
    font-style: Roboto;
    background-image: url("https://previews.123rf.com/images/tan4ikk/tan4ikk1411/tan4ikk141100247/33881199-collage-of-travel-photos-from-different-cities-of-the-europe.jpg");
    color:rgba(63, 86, 86, 0.9);
}
/* css for results page background */
.background {
    background-color: rgba(228, 244, 244, 0.9);
    padding: 100px;
    padding-bottom: 400px;
    margin: 100px;
    margin-bottom: 200px;
}
/* css for the h2s on the results page */
.solveh2 {
    padding: 50px;
    font-size: 70px;
    color:rgba(31, 43, 43, 0.9);
    background-color: rgba(238, 248, 239, 0.9);
}
/* css for the paragraphs on the results page */
.solvep {
    font-size: 25px;
}
/* css for the header on the results page */
#header {
    font-size: 50px;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 0px;
    color: white;
    border-style: solid;
    border-color: rgb(73, 145, 110);
    border-width: 10px;
    font-family: Roboto, sans-serif;
}
/* css for the header title on the results page */
#title {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 30px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 0px;
    color: white;
    background-color: rgb(70, 174, 129, 1);
    font-family: Roboto, sans-serif;
}
/* css for the answer block on the results page */
#block {
    background-color: rgb(70, 174, 129);
    margin-top: 0px;
    padding: 10px;
}

#formtable {
    margin-left: 250px;
    font-size: 30px;
}